@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    column-count: 2;
  }
}

/* Main Page*/
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: #09203f;
  --background-end-rgb: #000000;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle, var(--background-start-rgb), var(--background-end-rgb));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background-color: #000000;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height: fit-content;
  padding: 0.75rem 3rem 0.75rem;
}

.navbar .icon {
  width: 100%;
  display: inline-flex;
  gap:  0.75rem;
  align-items: center;
}

.navbar .icon h1 {
  width: fit-content;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  background: linear-gradient(88.94deg, #00BAFF 0%, #E57DFF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 4rem;
}

.navbar-container .menu-icon {
  display: none;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}

.navbar-container .menu-icon svg {
  color: #ffffff;
  width: 3rem;
  height: 3rem;
}

.navbar-container .menu {
  order: 1;
  border-radius: 80px;
  border: 1px #232323 solid;
  padding: 0.5rem;
  font-weight: 500;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-container .onsite {
  padding: 0.75rem 1.75rem;
  color: white;
  background-color: #1D1D1D;
}

.navbar-container li {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.75rem 1.75rem;
  color: #ffffff;
  border-radius: 80px;
}

.navbar-container li:hover {
  padding: 0.75rem 1.75rem;
  background-color: #374151;
  color: #ffffff;
}

.navbar-container .active {
  border-radius: 40px;
  background-color: #4b5563;
  color: #ffffff;
}

.navbar .social-media {
  align-items: center;
  width: auto;
  display: flex;
  height: 100%;
}

.navbar .social-media .social-icon {
  display: none;
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
}

.navbar .social-media ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
  align-items: center; 
  justify-content: center;
  gap: 1.5rem;
}

.dropdown-container {
  display: flex;
  width: 100% !important;
  position: absolute;
  list-style: none;
  margin-left: 0 !important;
  flex-direction: column;
  left: 0;
  top: 100%;
  gap: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0 !important; 
  padding-right: 0 !important;
  font-size: 0.875rem;
  color: #9ca3af;
  justify-content: center !important;
  align-items: flex-start;
}

.dropdown-item {
  width: 100% !important;
  padding: 0.5rem 0.5rem !important;
  color: white;
  background-color: #4b5563 ;
}

.dropdown-item-active {
  width: 100% !important;
  padding: 0.5rem 0.5rem !important;
  background-color: #2563eb;
}

.dropdown-item:hover {
  background-color: #f3f4f6;
}

.dropdown-item p {
  color: #ffffff;
}

/* Home page  */

.homepage-container {
  position: relative;
  top: 6rem;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.homepage-container .content {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 4rem;
  width: 90%;
  justify-content: flex-end;
}

.homepage-container .content .right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-container .content .right-side h1 {
  display: flex;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  background: linear-gradient(88.94deg, #00BAFF 0%, #E57DFF 100%);
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.homepage-container .content .right-side p {
  display: flex;
  width: 100%;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #B5B5BA;
  ;
}

.homepage-container .content .left-side {
  display: flex;
  justify-content: center;
}

/* Project 1 */
/* Project 1 - Content */
.project1-content {
  margin: 8rem 2rem 4rem 4rem;
}


.project1-content h1 { 
  color: #dbdcdf;
  display: flex;
  font-weight: 900;
  font-size: 2.5rem;
  justify-content: center;
  width: 100%;
  text-shadow: 1px 1px 2px rgb(179, 174, 174);
}

.project1-content p {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-bottom: 3rem;
}

/*Project 1 - Intro */

.project1-content .intro {
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.project1-content .intro .text-intro p {
  margin-top: 1rem;
  max-width: 70ch;
  line-height: 2rem;
  font-style: normal;
  margin-bottom: 1rem;
}

.project1-content .intro .text-intro li {
  display: grid;
  line-height: 1.75rem;
  margin-top: 1rem;
  grid-template-columns: 40% 60%;
}

.project1-content .intro .image-explaination {
  margin-top: 1rem;
  margin-left: 2rem;
  max-width: 90%;
  display: grid;
  grid-template-rows: auto auto auto;
}

.project1-content .intro .image-explaination .single-img {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 0.75rem;
  gap: 1rem;
}

.project1-content .intro .image-explaination .single-img p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-style: normal;
  margin-bottom: 1rem;
}

/* Project 1 - Pre process Image */

.image-preprocessing {
  margin-bottom: 2rem;
}

.image-preprocessing h1 {
  display: flex;
  justify-content: flex-start !important;
  font-size: 1.75rem;
}

.image-preprocess .image-sample {
  display: inline-block;
  width: 100%;
  height: max-content;
  gap: 1rem;
  align-items: start;
  margin: auto
}

.image-preprocess .image-sample .left-side {
  float: left;
  width: calc(35% -  2.2rem);
  margin-right: 2rem;
}

.image-preprocess .image-sample .right-side {
  float: right;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: calc(60% - 1rem);
}

.chart-explain1 {
  display: grid;
  grid-template-columns: 32% 20% 48%;
  width: 98%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Intro Model */
.project1-content .title-model {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start !important;
}

.project1-content .model-present {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
}

/* .intro-rnn-model {} */

.intro-rnn-model h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.intro-rnn-model .rnn-model {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap:  2.5rem;
  margin-bottom: 1.5rem;
}

.intro-rnn-model .rnn-model .model h2 {
  font-size: 1rem;
  font-weight: 500;
}

.intro-rnn-model .rnn-model .LSTM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-rnn-model .rnn-model .LSTM h2{
  font-size: 1rem;
  font-weight: 500;
}

.intro-rnn-model .rnn-model-explaination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: disc;
  margin-bottom: 1rem;
}

.intro-rnn-model .rnn-model-explaination p {
  font-size: 0.8rem;
  text-align: start;
  line-height: 1rem;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  display: list-item;
}

.fmodel-rnn .intro-rnn-model h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.fmodel-rnn .intro-rnn-model .rnn-model {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap:  2.5rem;
  margin-bottom: 1.5rem;
}

.fmodel-rnn .intro-rnn-model .rnn-model .model h2 {
  font-size: 1rem;
  font-weight: 500;
}

.fmodel-rnn .intro-rnn-model .rnn-model .LSTM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fmodel-rnn .intro-rnn-model .rnn-model .LSTM h2{
  font-size: 1rem;
  font-weight: 500;
}

.fmodel-rnn .intro-rnn-model .rnn-model-explaination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: disc;
  margin-bottom: 1rem;
}

.fmodel-rnn .intro-rnn-model .rnn-model-explaination p {
  font-size: 1rem;
  text-align: start;
  line-height: 1.5rem;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  display: list-item;
}

.mermaid.dynamic-mermaid {
  width: 36rem;
  height: fit-content;
}

/* cnn model */
.intro-cnn-model {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-cnn-model h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.intro-cnn-model .cnn-model {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem;
  list-style-type: disc;
}

.intro-cnn-model .cnn-model h2 {
  font-size: 1rem;
  font-weight: 500;
}

.intro-cnn-model .cnn-model .model {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-cnn-model .cnn-model-explaination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: disc;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.intro-cnn-model .cnn-model-explaination p {
  font-size: 1rem;
  text-align: start;
  line-height: 1.5rem;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  display: list-item;
}

.intro-cnn-model .cnn-model .cnn-layer-epx {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fmodel-cnn .intro-cnn-model {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fmodel-cnn .intro-cnn-model h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}

.fmodel-cnn .intro-cnn-model .cnn-model {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1rem;
  list-style-type: disc;
}

.fmodel-cnn .intro-cnn-model .cnn-model h2 {
  font-size: 1rem;
  font-weight: 500;
}

.fmodel-cnn .intro-cnn-model .cnn-model .model {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fmodel-cnn .intro-cnn-model .cnn-model-explaination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: disc;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.fmodel-cnn .intro-cnn-model .cnn-model-explaination p {
  font-size: 1rem;
  text-align: start;
  line-height: 1.5rem;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  display: list-item;
}

.fmodel-cnn .intro-cnn-model .cnn-model .cnn-layer-epx {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  width: 95vw;
  height: 95vh;
  position: fixed;
  z-index: 9999;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: rgba(0,0,0,0.9);
}

/* Project 2 */

.project2-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-left: 6rem;
  align-items: center;
  justify-content: center;
}

.project2-content h1 {
  color: #dbdcdf;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 2px rgb(179, 174, 174);
  margin: 0;
}

.project2-content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  width: 70%;
}

.project2-content a {
  color: #0000EE; 
  text-decoration: none; 
  font-style: italic;
  font-weight: bold; 
}

.project2-content a:hover {
  text-decoration: underline; 
  color: #FF0000; 
}


/* Footer */
footer {
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: fit-content;
  background-color: #09203f; 
  padding: 0.5rem 0; 
}

.legal {
  position: relative; 
  text-align: center;
  width: 100%;
  color: #fff; 
}




/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 1rem 0 0;
  }

  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar .icon h1 {
    display: none;
  }

  .navbar-container .menu-icon {
    display: block;
    cursor: pointer;
    width: auto;
    z-index: 10;
  }

  .navbar-container .menu.open {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}

  .navbar-container .menu {
    display: none;
    box-sizing: border-box;
    border:none;
    gap: 0.5rem;
  }

  .navbar-container li {
    background-color: #232323;
    border: 1px #232323 solid ;
    padding: 0.25rem 0.5rem;
    width: auto;
  }

  .navbar-container .onsite {
    background-color: #777575;
    padding: 0.25rem 0.5rem;
  }
  
  .navbar-container li:hover {
    padding: 0.25rem 0.5rem;
  }

  .navbar .social-media .social-icon {
    display: block;
    cursor: pointer;
    width: auto;
    z-index: 10;
  }

  .navbar .social-media .social-contact.open {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6rem;
  }

  .navbar .social-media .social-contact {
    display: none;
    box-sizing: border-box;
    border:none;
    gap: 0.5rem;
  }

  .dropdown-container{
    position: relative;
    gap: 0.25rem !important;
  }

  .dropdown-item {
    background-color: #4b5563 !important;
  }

  .dropdown-item-active {
    background-color: #0726d4 !important;
  }

  .homepage-container {
    top: 4.5rem;
  }
  .homepage-container .content {
    grid-template-columns: auto;
    width: 80%;
  }

  .homepage-container .content .right-side {
    align-items: center;
  }

  .homepage-container .content .right-side h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  .homepage-container .content .right-side p {
    width: 80%;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  .project1-content {
    margin-top: 4rem;
    margin-left: 3rem;
  }

  .project1-content h1 {
    font-size: 2rem;
  }

  .project1-content p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .project1-content .intro {
    grid-template-columns: auto;
  }

  .project1-content .intro .image-explaination {
    margin-left: 0rem;
    align-self: center;

  }

  .project1-content .intro .image-explaination .single-img {
    grid-template-columns: auto;
    margin-bottom: 0.5rem;
    gap: 0.75rem;
  }

  .image-preprocessing h1 {
    font-size: 1.25rem;
  }
  
  .image-preprocess .image-sample .left-side {
    width: 100%;
    float: none;
    margin-bottom: 2rem;
  }

  .image-preprocess .image-sample .right-side {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }

  .chart-explain1 {
    grid-template-columns: 95%;
    row-gap: 1rem;
  }

  .project1-content .title-model {
    font-size: 1.5rem;
  }

  .intro-rnn-model h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .intro-rnn-model .rnn-model {
    grid-template-columns: auto;
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .intro-rnn-model .rnn-model .model h2 {
    font-size: 0.8rem;
  }

  .intro-rnn-model .rnn-model .LSTM h2{
    font-size: 0.8rem;
  }

  .intro-rnn-model .rnn-model-explaination p {
    font-size: 0.6rem;
    line-height: 0.7rem;
    margin-bottom: 0;
  }

  .fmodel-rnn .intro-rnn-model h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .fmodel-rnn .intro-rnn-model .rnn-model {
    grid-template-columns: auto;
    margin-bottom: 1rem;
    gap: 1rem;
  }
 
  .fmodel-rnn .intro-rnn-model .rnn-model .model h2 {
    font-size: 0rem;
    visibility: hidden;
    margin: 0;
  }

  .fmodel-rnn .intro-rnn-model .rnn-model .LSTM h2{
    font-size: 0rem;
    visibility: hidden;
    margin: 0;
  }

  .fmodel-rnn .intro-rnn-model .rnn-model-explaination p {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }

  .fmodel-rnn .intro-rnn-model .rnn-model .LSTM img {
    width: 22rem;
    height: fit-content;
  }

  .mermaid.dynamic-mermaid {
    width: 100%;
    height: fit-content;
  }

  .intro-cnn-model .cnn-model {
    grid-template-columns: auto;
  }

  .intro-cnn-model h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .intro-cnn-model .cnn-model h2 {
    font-size: 0.8rem;
  }

  .fmodel-cnn .intro-cnn-model .cnn-model {
    grid-template-columns: auto;
  }

  .fmodel-cnn .intro-cnn-model h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .fmodel-cnn .intro-cnn-model .cnn-model img {
    width: 25rem;
    height: fit-content;
  }

  .fmodel-cnn .intro-cnn-model .cnn-model h2 {
    font-size: 0;
    visibility: hidden;
    margin: 0;
  }

  .fmodel-cnn .intro-cnn-model .cnn-model-explaination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: disc;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  
  .fmodel-cnn .intro-cnn-model .cnn-model-explaination p {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }

  .modal {
    width: 88vw;
    height: 90vh;
  }

  .project2-content {
    margin-left: 3rem;
    margin-top: 4rem;
  }

  .project2-content h1 {
    font-size: 2rem;
  }

  .project2-content p {
    width: 85%;
    font-size: 1rem;
  }

}