@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.main-content {
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.navbar {
  background-color: #111827;
  border-color: #4b5563;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  border-bottom: solid #e5e7eb 1px;
}

.navbar-container {
  display: flex;
  width: 100%;
  order: 1;
  align-items: center;
  justify-content: flex-end;
}

.navbar-container ul {
  margin-left: 50%;
  padding: 1rem;
  font-weight: 500;
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-around;
}

.navbar-container .onsite {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: #2563eb;
  border-radius: 0.25rem;
}

.navbar-container li {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  color: #0726d4;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}

.navbar-container li:hover {
  background-color: #374151;
  color: #ffffff;
}

.navbar-container .active {
  background-color: #4b5563;
  color: #ffffff;
}


.dropdown-container {
  width: 240% !important;
  position: absolute;
  list-style: none;
  margin-left: 0 !important;
  flex-direction: column;
  left: 0;
  top: 100%;
  gap: 0.5rem;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 0.875rem;
  color: #9ca3af;
  justify-content: start !important;
  align-items: start;
}

.dropdown-item {
  display: block !important;
  padding: 0.5rem 0.5rem !important;
  color: white !important;
  background-color: #4b5563 !important;
}

.dropdown-item:hover {
  background-color: #f3f4f6;
  ;
}

.dropdown-item p {
  color: #ffffff;
}

.sidebar-container {
  position: fixed;
  width: 3.5rem;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: #111827;
  padding-top: 7.5rem;
  left: 0;
  z-index: 10;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  align-items: center;
  gap: 6rem;
  padding: 0;
  list-style: none;
}

.sidebar-nav svg {
  width: 2.5rem;
  height: 2.5rem;
}

.project1-content {
  margin-top: 8rem;
  margin-left: 6rem;
}

.project1-content h1 { 
  font-weight: 900;
  font-size: 2rem;
}

.project1-content p {
  max-width: 60ch;
  text-align: justify;
}



@media (max-width: 768px) {
  .navbar-container ul {
    margin-left: 0;
    padding: 0.25rem;
    margin-top: 0;
    border: none;
    gap: 2rem;
  }

  .navbar-container .onsite {
    background-color: transparent;
    color: #81a1fa;
    padding: 0;
  }

  .navbar-container li {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: auto;
  }

  /* 
  .navbar-container li:hover {
    color: #1d4ed8;
    background-color: transparent;
  } */

  .sidebar-container {
    width: 2.5rem;
  }

  .sidebar-nav svg {
    width: 2rem;
    height: 2rem;
  }

}