@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    column-count: 2;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: #09203f;
  --background-end-rgb: #000000;
}

.main-content {
  flex-grow: 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle, var(--background-start-rgb), var(--background-end-rgb));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #111827;
  border-color: #4b5563;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  border-bottom: solid #e5e7eb 1px;
}

.navbar-container {
  display: flex;
  width: 100%;
  order: 1;
  align-items: center;
  justify-content: flex-end;
}

.navbar-container ul {
  margin-left: 50%;
  padding: 1rem;
  font-weight: 500;
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-around;
}

.navbar-container .onsite {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: #2563eb;
  border-radius: 0.25rem;
}

.navbar-container li {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  color: #0726d4;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}

.navbar-container li:hover {
  background-color: #374151;
  color: #ffffff;
}

.navbar-container .active {
  background-color: #4b5563;
  color: #ffffff;
}


.dropdown-container {
  width: 240% !important;
  position: absolute;
  list-style: none;
  margin-left: 0 !important;
  flex-direction: column;
  left: 0;
  top: 100%;
  gap: 0.5rem;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0 !important; 
  padding-right: 0 !important;
  font-size: 0.875rem;
  color: #9ca3af;
  justify-content: start !important;
  align-items: start;
}

.dropdown-item {
  display: block !important;
  padding: 0.5rem 0.5rem !important;
  color: white;
  background-color: #4b5563 ;
}

.dropdown-item-active {
  display: block !important;
  padding: 0.5rem 0.5rem !important;
  color: white !important;
  background-color: #2563eb;
}

.dropdown-item:hover {
  background-color: #f3f4f6;
}

.dropdown-item p {
  color: #ffffff;
}

.sidebar-container {
  position: fixed;
  width: 3.5rem;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: #111827;
  padding-top: 7.5rem;
  left: 0;
  z-index: 10;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  align-items: center;
  gap: 6rem;
  padding: 0;
  list-style: none;
}

.sidebar-nav svg {
  width: 2.5rem;
  height: 2.5rem;
}


.homepage-container {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.homepage-container .content {
  margin-left: 6rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
  width: 90%;
  justify-content: flex-end;
}

.homepage-container .content .left-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.homepage-container .content .left-side .chatbox svg {
  color: #ffffff;
}

.homepage-container .content .left-side h1 {
  display: flex;
  align-self: center;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}


.homepage-container .content .left-side p {
  display: flex;
  align-self: center;
  text-align: justify;
  width: 60%;
  font-size: 1.25rem;
}

.homepage-container .content .right-side {
  display: flex;
  justify-content: center;
}

.project1-content {
  margin-top: 8rem;
  margin-left: 6rem;
}

.project1-content h1 { 
  color: #dbdcdf;
  display: flex;
  font-weight: 900;
  font-size: 2.5rem;
  justify-content: center;
  width: 100%;
  text-shadow: 1px 1px 2px rgb(179, 174, 174);
}

.project1-content p {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-bottom: 3rem;
}

.project1-content .intro {
  max-width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.project1-content .intro .text-intro p {
  margin-top: 1rem;
  max-width: 70ch;
  text-align: justify;
  line-height: 2rem;
  font-style: normal;
  margin-bottom: 1rem;
}

.project1-content .intro .text-intro li {
  display: grid;
  line-height: 2rem;
  margin-top: 1rem;
  grid-template-columns: 30% 70%;
}

.project1-content .intro .image-explaination {
  margin-top: 1rem;
  margin-left: 3rem;
  max-width: 90%;
  display: grid;
  grid-template-rows: auto auto auto;
}

.project1-content .intro .image-explaination .single-img {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 0.75rem;
  gap: 1rem;
}

.project1-content .intro .image-explaination .single-img p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-style: normal;
  margin-bottom: 1rem;
}

.project2-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-left: 6rem;
  align-items: center;
  justify-content: center;
}

.project2-content h1 {
  color: #dbdcdf;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 2px rgb(179, 174, 174);
  margin: 0;
}

.project2-content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  width: 70%;
}

.project2-content a {
  color: #0000EE; 
  text-decoration: none; 
  font-style: italic;
  font-weight: bold; 
}

.project2-content a:hover {
  text-decoration: underline; 
  color: #FF0000; 
}

@media screen and (max-width: 768px) {
  .navbar-container ul {
    margin-left: 0;
    padding: 0.25rem;
    margin-top: 0;
    border: none;
    gap: 2rem;
  }

  .navbar-container .onsite {
    background-color: transparent;
    color: #81a1fa;
    padding: 0;
  }

  .navbar-container li {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: auto;
  }
  
  .navbar-container li:hover {
    color: #87a6fc;
    background-color: transparent;
  }
  .dropdown-container{
    gap: 0.25rem !important;
  }

  .dropdown-item {
    background-color: #4b5563 !important;
  }

  .dropdown-item-active {
    background-color: #0726d4 !important;
  }

  .sidebar-container {
    width: 2.5rem;
  }

  .sidebar-nav svg {
    width: 2rem;
    height: 2rem;
  }

  .homepage-container .content {
    margin-top: 5rem;
    grid-template-columns: auto;
    width: 80%;
  }

  .homepage-container .content .left-side h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  .homepage-container .content .left-side p {
    font-size: 1rem;
  }

  .chatbox {
    width: 4.5rem;
    height: 5rem;
  }

  .chatbox svg {
    width: 100%;
    height: 100%;
  }

  .chatbox svg text{
    font-size: 0.2rem;
  }

  .project1-content {
    margin-top: 4rem;
    margin-left: 3rem;
  }

  .project1-content h1 {
    font-size: 2rem;
  }

  .project1-content p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .project1-content .intro {
    grid-template-columns: auto;
  }

  .project1-content .intro .image-explaination {
    margin-left: 0rem;
  }

  .project1-content .intro .image-explaination .single-img {
    grid-template-columns: auto;
    margin-bottom: 0.5rem;
    gap: 0.75rem;
  }
  
  .project2-content {
    margin-left: 3rem;
    margin-top: 4rem;
  }

  .project2-content h1 {
    font-size: 2rem;
  }

  .project2-content p {
    width: 85%;
    font-size: 1rem;
  }

}